{% extends "base.html.twig" %}

{% block title %}RACK CITY SHOP{% endblock %}

{% block body %}

<div class="content">

    <h1 class="d-flex justify-content-center mt-5" > BIENVENUE SUR RACK CITY SHOP</h1>
    <p class="d-flex justify-content-center mt-2">La mode en mieux</p>

    <div class="row mx-auto" style="width:70%; border:10px solid black; border-radius:5px; margin-top: 15%">
        <div class="col" style="width:70%; margin: 0 auto;">

            <h2>Afin de pouvoir utiliser pleinement toutes les fonctionnalités, Veuillez vous inscrire ou vous connecter</h2>
            <hr>
            <div class="row mx-auto" style="max-width:65%">
                <a class="btn btn-outline-dark btn-lg btn-block my-3 mx-auto" href="{{ path('app_login') }}">Se connecter</a>
                <a class="btn btn-outline-dark btn-lg btn-block my-3 mx-auto" href="{{ path('app_register') }}">S'inscrire</a></div>
            </div>
</div>



{% endblock %}
