{% extends "base.html.twig" %}

{% block title %}RACK CITY SHOP{% endblock %}

{% block body %}

<div class="content">

    <h1 class="d-flex justify-content-center mt-5" > BIENVENUE SUR RACK CITY SHOP</h1>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="image/home-screen/carhartt_desktopfull.jpeg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="image/home-screen/carhartt_desktopfull1.jpeg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="image/home-screen/carhartt_desktopfull2.jpeg" alt="Third slide">
        </div>
    </div>
</div>



{% endblock %}
