{% extends "base.html.twig" %}

{% block title %}RACK CITY SHOP{% endblock %}

{% block body %}

<div class="content">

    <h1> BIENVENUE SUR RACK CITY SHOP</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos accusamus earum adipisci natus deleniti rem amet optio, culpa consequuntur doloremque ullam, ipsa architecto totam, perspiciatis est nihil officia voluptate quis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi harum, perferendis doloribus dolor nobis repellat id quae quidem pariatur obcaecati minima sit reprehenderit veritatis laboriosam animi in dicta? Culpa, aperiam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum soluta nisi blanditiis, vero necessitatibus explicabo ex obcaecati corrupti non laudantium qui reiciendis sint. Dolor ad iste explicabo ex omnis. Earum.</p>

    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque culpa atque, excepturi aspernatur consectetur ipsum sed, impedit ut numquam repellendus aut alias amet, autem voluptas repellat explicabo saepe perspiciatis perferendis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit mollitia perferendis molestias repellendus natus, atque consectetur reprehenderit, in blanditiis ratione assumenda, culpa ex quae quos veritatis nihil? Commodi, dolorem beatae! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, reiciendis cum deleniti temporibus explicabo ipsum officia asperiores dolore laboriosam sit quasi quo beatae earum recusandae. Magnam nemo fugit temporibus ex?</p>

    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio repellat voluptatibus adipisci, et, fugiat quasi aliquid aspernatur voluptas delectus illum in magni! Accusantium omnis ipsum corporis impedit reiciendis autem animi.</p>

</div>

{% endblock %}
