{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}

<section class="articles">
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata"> Ecrit le on s'en tape </div>

        <div class="content">
            <img src="" alt="">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore officia ducimus itaque earum totam quibusdam error velit odit porro dicta! Expedita ad aut totam ipsa. In repellendus soluta architecto odio? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe harum excepturi, odio minima praesentium facere, obcaecati enim doloremque nam non cupiditate? Neque deserunt, sit dolorum iste dolor optio! Animi, totam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vero qui beatae facilis ducimus dolore perferendis, sunt, consectetur dolores reprehenderit obcaecati enim voluptates. Incidunt, tempora temporibus consectetur dignissimos alias nostrum?</p>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus alias molestiae suscipit nesciunt quaerat placeat voluptatibus aperiam libero dolorum accusamus recusandae tempore cumque sunt, tempora omnis enim ab quam ipsum?</p>

            <a href="#" class="btn btn-primary"> Lire la suite</a>
        
        </div>
    </article>
</section>

{% endblock %}
