<table class=" table table-bordered">

    <tr>
        <td>Prenom</td>
        <td> {{ contact.prenom }}</td>
    </tr>
    <tr>
        <td> {{ contact.nom }}</td>
    </tr>
    <tr>
        <td> {{ contact.contenu }}</td>
    </tr>
</table>