{% extends "base.html.twig" %}

{% block title %}

<table class="class table">


<tr>
<td> {{ contact.prenom }}</td>
</tr>
<tr>
<td> {{ contact.nom }}</td>
</tr>
<tr>
<td> {{ contact.contenu }}</td>
</tr>

</table>


{% endblock %}